section {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

td {
    padding:0.25em;
}

#tb__ID {
    width: 100%;
    max-width: 800px;
}
.header__ID {
    width: 100%;
    border-top: 1px solid rgba(184,28,39,1);
}
.question__ID {
    padding-bottom:2em;
    border-top: 1px solid #adb8c0;
    width: 100%;
}

.modified_select__ID {
    border: 1px solid #adb8c0;
    font-size: 11pt;
}

.modified_radio__ID {
    -webkit-appearance: none;
    -moz-appearance: button;
    background-color:rgba(255,255,255,1);
    border: 1px solid #adb8c0;
    width:15px;
    height:15px;
    padding: 0px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.modified_radio__ID:checked {
    -moz-appearance: button;
    background-color:rgba(184,28,39,1);
    border: 1px solid #adb8c0;
}
.modified_radio__ID:active, .modified_radio__ID:checked:active {
    -moz-appearance: button;
    background-color:rgba(184,28,39,0.5);
    border: 5px solid #adb8c0;
}
.input_box_small__ID {
    width: 4em;
    margin: 0.25em;
    font-size: 12pt;
    padding: 0.25em;
    border: 1px solid #adb8c0;
    border-radius: 6px;
}
.input_box_medium__ID {
    width: 12em;
    margin: 0.25em;
    font-size: 12pt;
    padding: 0.25em;
    border: 1px solid #adb8c0;
    border-radius: 6px;
}
.input_box_large__ID {
    width: calc(100% - 1em);
    min-width: 24em;
    margin: 0.25em;
    font-size: 12pt;
    padding: 0.25em;
    border: 1px solid #adb8c0;
    border-radius: 6px;
}
.input_box_datetime__ID{
    width: 12em;
    margin: 0.25em;
    font-size: 12pt;
    padding: 0.33em;
    border: none;
    border-radius: 6px;
    background-color: rgba(173,184,192,0.25);
}
.input_box__ID{
    border: 1px solid #adb8c0!important;
    width:99%!important;
}
.modified_checkbox__ID {
    -webkit-appearance: none;
    -moz-appearance: checkbox;
    background-color: #ffffff;
    border: 1px solid #adb8c0;
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    top:6px;
}
.modified_checkbox__ID:checked {
    background-color: rgba(184,28,39,1);
    color: #99a1a7;
}

.survey-row:hover {
    background-color: #f5f5f5;
}
.survey-title{
    font-size: 16pt;
    font-weight: bold;
    color:rgba(184,28,39,1);
    line-height: 2.3em;
}
.survey-h1 {
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3em;
}
.survey-matrix {
    
}
.survey-matrix-td-left {
    padding:0.25em;
    vertical-align: middle;
    text-align: left;
}
.survey-matrix-td-center {
    padding:0.25em;
    vertical-align: middle;
    text-align: center;
}
.survey-question {
    display: block;
    font-size: 12pt;
    font-weight: bold;
    color: #0a0a0a;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}
.survey-subquestion {
    display: block;
    color: #0a0a0a;
    padding-left:10px;
    font-size: 12pt;
    line-height: 1.3em;
    margin-top: 0.5em;
}
.survey-answer  {
    font-size: 12pt;
    line-height: 1.3em;
    margin:0.25em;
}
.survey-label  {
    font-size: 11pt;
    line-height: 1.3em;
    margin:0.25em;
    color: #666666;
}
.radio-first {
    margin-right:2em;
}